*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:lightblue;
}
.message-app{
  min-width: 30vw;
  height: 80vh;
  /* border:1px solid red; */
  background-color: white;
}
header{
  height: 15%;
  background-color: rgb(23, 96, 168);
}
.header-content{
  padding-top: 10px;
}
header h1{
  display: inline-block;
  margin-top: 10px;
  color: white;
  font-size: 16px;
text-transform: uppercase;
}
.point{
  margin: 0 10px;
  border: 4px solid white;
  border-radius: 50%;
  display: inline-block;
}
header img{
  float:right;
  margin-top: 10px;
  margin-right: 10px;
}
/* messages */
.message-zone{
  height:70%;
  padding: 0 20px;
  /* background-color: white; */
}
.message-hour{
  width: 100%;
  /* background-color: greenyellow;border: 1px solid black; */
}
.message-zone .message-container:nth-child(odd) {
  float: right;
  
}
.message-zone .message-container:nth-child(odd) .message-hour
{
  text-align: right;
  /* clear: both; */
}
.message-zone .message-container:nth-child(odd) .message-text{
 background-color: lightblue;
 
}
.message-zone .message-container:last-child .message-text{
  background-color: red;
}
.message-container{
  /* border: 1px solid red; */
  max-width: 80%;
  clear: both;
}
.message-text{
  background-color: rgb(154, 231, 236);
  display: inline-block;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  clear: both;
}
.date-info{
  /* background-color: red; */
  text-align: center;
}
.date-info span{

  vertical-align: sub;
}
.line{
  border: 1px solid rgb(168, 162, 162);
  width: 40%;
  display: inline-block;
  
}


/************* type and send */
.type-send{
  height: 15%;;
  /* border: 1px solid green; */
  position: relative;
  bottom: 0px;
  /* background-color: white; */
  border-top: 1px solid silver;
  margin: 0 20px;
}
.type-send input{
  margin-top: 10px;
  border: none;
}
.input-text{
  height: 50px;
}
.send-button{
  background-color: transparent;
  color: blue;
  border: none;
  margin-top: 20px;
  float: right;
  font-weight: bold;
}
.send-button:hover{
  cursor: pointer;
}
