body{
  min-height: 100vh;
  width: 100%;
  /* border:1px solid red; */
  /* background-image: url('img/background2.jpg'); */
  /* background-size: cover;   */
}
a{
    text-decoration: none;
    color:white;

}
.img-placeholder{
  opacity: 0.5;
  /* transition: 0.25s all linear; */
  border-radius: 5px;
 /* border: 5px solid transparent; */
}

.img-placeholder:hover{

  opacity: 1;
   animation-name: tremble;
  animation-duration: 0.5s;
  animation-iteration-count:1;
  animation-timing-function: ease-in-out;
}
@keyframes tremble {
  from {
    /* opacity: 0.1; */
    transform: translate(10px);
    box-shadow: 1px 1px 10px rgb(2, 247, 255);
    /* border: 5px solid rgba(255 , 47, 47,0.5); */
  }
  to {
    opacity: 0.5;
    transform: translate(0px);
    box-shadow: -10px -10px 100px white;
    /* box-shadow: 1px 1px 10px white; */
    /* border: 5px solid rgba(228, 57, 177,0.5); */
  }
}