*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  background-image: url('img/background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dialog-container{
  background-color: white;
  /* height: 70vh; */
width: 35vw;
display: flex;
flex-direction: column;
padding: 40px 30px 30px 30px;
border-radius: 10px;
}
.row{
  margin: 10px 0;
  /* border:1px solid green; */
  display: flex;
}
.col{
  width: 50%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: space-between;
}
.col .detail-item{
/* border: 1px solid orange; */

}
.code-container{
    margin: 0  0 0 auto ;
  /* border:2px dashed black; */
  padding: 5px;
  
}
.source-destiny{
  /* border: 1px solid red; */
  display: inline-block;
  flex-grow: 2;
  /* align-items: baseline; */
}
.source-destiny h1{
  color: dodgerblue;
  font-weight: bolder;
  font-size: 3rem;
}
.source-destiny:nth-child(2) div{
  margin-top: 40%;
  margin-left: 30%;
}
.source-destiny:nth-child(3){
  text-align: right;
}
.source-destiny p{
  color: gray;
}
.detail-item{
  display: inline-block;
  margin: 10px;
  /* border: 1px solid green; */
}
.source-destiny #void{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
#void{
  /* margin: 0 auto; */
  display: inline-block;
  border: 4px solid lightblue;
  border-radius: 2px;
  width: 30px;
}
.row:nth-child(2){
  margin-top: 20px;
}
.row:nth-child(2) .detail-item{
  width: 25%;
}

/* .detail-item */
.key{
  color: gray;
  font-weight: bold;
}
.value{
  color: black;
  font-weight: bold;
}