*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: Roboto, sans-serif;
}
.header{
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  margin: 20px 30px;
  color: rgb(87, 87, 87);
  padding: 10px 50px;
}

.container{
  width: 100vw;
  height: 100vh;
  background-image: url("img/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-container{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  box-shadow: 5px 5px 50px rgb(87, 87, 87);
  overflow: hidden;
}
.credit-card-item{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 20px;
  border-top: 1px solid rgb(230, 227, 227);
  padding-left: 20px;
  color: grey;
}
.credit-card-item:hover{
  color: black;
  background-color: rgb(230, 227, 227);
}
.credit-card-logo{
  width: 50px;
  /* border:1px solid green; */
}
.next-step-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 107, 206, 0.8);
  padding: 20px;
  color: white;
  text-transform: uppercase;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.next-step-button:hover{
  background-color: rgba(9, 107, 206, 1);
}
.next-step-button:active{
  /* background-color: red; */
  /* transform:matrix(1,0,0,0.7,0,50px); */
  transform: matrix(1, 0, 0, 1, 0, 2);
  /* font-size: 1.1em; */
}

.check{
  float: right;;
  /* border: 1px solid red; */
  visibility: hidden;
  /* visibility:  */
}
p{
  /* border: 1px solid green; */
  flex-grow: 4;
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
}



#mastercard{
  visibility: visible;
}
 /* three little dots  */
.punto{
  display: inline-block;
  border: 4px solid rgb(197, 195, 195);
  border-radius: 50%;
  /* margin-top: -100px; */
}
h1{
  margin-top: 30px;
}
.header div:first-child{
  border-color: rgb(153, 153, 153);
}