*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(56, 108, 204);
  font-family: Roboto,sans-serif;
}
h2{
  color: rgb(0, 93, 187);

  margin-top: 20px;

}
.super{
  font-size: 16px;
  vertical-align: super;
}

.sub{
  font-size: 12px;
}
p{
  color: gray;

  margin-top: 20px;
  line-height: 1.5;
}
.container{
  display: flex;

  height: 100vh;
  width: 100vw;

  align-items: center;
  justify-content: center;
 
}
.items-container{
  display:flex;
  background-color: rgb(240, 234, 234);
  min-height: 55vh;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -5px 5px 20px  rgb(95, 94, 94);
  justify-content: space-around;
  align-items: baseline;
}
.promo-item{
  text-align: center;

  display: inline-block;

  width:22vw ;
  height: auto;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  margin: 10px;
  border-radius: 5px;
}
.promo-item:hover{
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
.device-img{

  width: 75px;

}
@media (max-width: 720px){
  .items-container{
    display:flex;
    min-width: 90vw;
   
  }
  .promo-item{
    width: 25vw;;
  }
}

@media (max-width:480px){
  .container{
    display: flex;

    height: 100vh;
    width: 100vw;
   
  }
  .items-container{
    display:flex;

    flex-direction: column;
    /* border:1px solid red; */
    margin-top:15px;
    justify-content: space-around;
    align-items: baseline;
  }
  .promo-item{
    width: 94vw;
    min-height: 20vh;
  }
  p{
    display: none;
  }
  .device-img{
    float: left;
    border: 1px solid blue;
  }
  h2{

  }
  
}