*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*********************  mobile first */

/* navigation top bar */
.navigation-top{
  border:1px solid red;
}
.navigation-top ul{
  list-style-type: none;
}
.navigation-top ul li {
  /* width: 100%; */
  border:1px solid green;
}
.navigation-top ul li a{
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background-color: red;
  color: white;
}
header h1, header h2{
  color: white;
}
/* body */
body{
  background-color: green;
  text-align: center;
}

/* main */
.main-img{
  width: 100%;
}